.Corner {
	--corner-size: 23px;
	width: var(--corner-size);
	height: var(--corner-size);

	-webkit-mask-image: radial-gradient(
		circle at var(--corner-size) var(--corner-size),
		transparent calc(var(--corner-size) + -0.7px),
		rgba(255, 255, 255, 1) calc(var(--corner-size) + 0.7px)
	);

	@apply absolute inset-auto bg-black;

	&[data-corner="BottomLeft"] {
		transform: rotate(270deg);
		@apply bottom-0 left-0;
	}

	&[data-corner="BottomRight"] {
		transform: rotate(180deg);
		@apply bottom-0 right-0;
	}

	&[data-corner="TopLeft"] {
		@apply left-0 top-0;
	}

	&[data-corner="TopRight"] {
		transform: rotate(90deg);
		@apply right-0 top-0;
	}

	.Window[data-mode="light"] & {
		@apply bg-white;
	}
}
